<h4><strong><%= questionNumber %> -- <%= question %></strong></h4>
<ol type="A">
	<%
		_.each(alternatives, function(item, key, list){
	%>
	<li class="alternative answer<%= key %>"><%= item %></li>
	<%
		});
	%>
</ol>
<button class="next" disabled>Next Question</button>


