<h3>Would you tell us a little bit about you?</h3>
<input type="text" name="name" placeholder="Your name here" value="<%= name %>" autofocus>
<input type="email" name="email" placeholder="Your email here" value="<%= email %>" style="width:400px;">
<button id="saveUserButton">Save</button>
